
.btn {
    padding: 1.25rem 2.5rem;
    border: .200rem solid #fff;
    border-radius:2rem ;    
    color: var(--color-primary);
    background: unset;
    font-size: .9375rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s all ease;
    outline: none;
}

.btn:hover, 
.btn:active, 
.btn:focus,
.btn--institutional,
.btn--contact {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;
}

.btn--institutional:hover,
.btn--contact:hover {
  color: var(--color-copy);
  background: unset; 
  box-shadow: 0 1rem 1rem #000;
}

.btn--contact:hover {
  color:#fff;
}


.btn--quote {
color: var(--color-copy);
border-color: var(--color-copy);
background:unset;
}